{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-header p-3">
        <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Deletar Tarefa?</h5>
    </div>
    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; max-height: 100px; overflow-y: auto;">
        <p>Você tem certeza que quer deletar a tarefa: <b>{{ object.nome }}?</b></p>
    </div>
    <div class="card-footer text-end p-3">
        <form method="POST">
            {% csrf_token %}
            <div class="d-flex justify-content-end"> 
                <input class="btn btn-danger me-2" value="Sim" type="submit">
                <input class="btn btn-light" value="Cancelar" type="button" onclick="location.href='{% url "index" %}';">
            </div>
        </form>
    </div>
</div>

{% endblock %}
